body {
  min-width: 400px;
  font-family: 'Raleway', sans-serif;
}

#header {
  padding: 0;
  margin: 0;
}

.panel {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Roboto', serif;
  font-weight: bold;
}

h3, h4 {
  font-family: 'Roboto', serif;
}

blockquote {
  padding-bottom: 0;
  margin-bottom: 10px;
}

blockquote p {
  font-size: .75em;
}

blockquote small {
  font-size: .6em;
}

#news-source p {
  font-size: .85em;
}

#sentiment p {
  font-size: .85em;
}

#my_canvas {
    height: 200px;
    width: 90%;
}

a {
  font-size: 1.1em;
}

em {
  background-color: powderblue
}

img {
  animation: bounceIn 1s;
}

.mySlides {
    display: none;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

